serviceAccount:
  create: false
  name: devops-assistant-sa

podLabels:
  azure.workload.identity/use: "true"

podAnnotations: {}

backend:
  replicaCount: 1
  image:
    repository: adityazuretest.azurecr.io/devops-assistant-backend
    pullPolicy: IfNotPresent
    tag: "latest"
  service:
    type: ClusterIP
    port: 8000
  env:
    MODEL_NAME: "llama-3.3-70b-versatile"
    AZURE_TENANT_ID: "common"
    AZURE_CLIENT_ID: "41fc2583-2d08-4e54-a969-792fa000d9f6"

frontend:
  replicaCount: 1
  image:
    repository: adityazuretest.azurecr.io/devops-assistant-frontend
    pullPolicy: IfNotPresent
    tag: "latest"
  service:
    type: ClusterIP
    port: 80
  env:
    VITE_API_URL: "https://devops-assistant.centralindia.cloudapp.azure.com/api"

ingress:
  enabled: true
  className: "nginx"
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /$2
    cert-manager.io/cluster-issuer: "letsencrypt-prod"
    nginx.ingress.kubernetes.io/use-regex: "true"
  hosts:
    - host: devops-assistant.centralindia.cloudapp.azure.com
      paths:
        - path: /(|$)(.*)
          pathType: ImplementationSpecific
          serviceName: frontend
          servicePort: 80
        - path: /api(/|$)(.*)
          pathType: ImplementationSpecific
          serviceName: backend
          servicePort: 8000
  tls:
    - secretName: devops-assistant-tls
      hosts:
        - devops-assistant.centralindia.cloudapp.azure.com
azure:
  keyVaultName: adityavault
  tenantId: "ac371305-0f1d-47d3-8dd8-3d5f83dccf8b"
  userAssignedIdentityID: "1569110c-2b6d-45ac-ba6f-8996c7a8d253"
