serviceAccount:
  create: false
  name: devops-assistant-sa

podAnnotations:
  azure.workload.identity/use: "true"

backend:
  replicaCount: 1
  image:
    repository: adityazuretest.azurecr.io/devops-assistant-backend
    pullPolicy: IfNotPresent
    tag: "latest"
  service:
    type: ClusterIP
    port: 8000
  env:
    MODEL_NAME: "llama-3.3-70b-versatile"

frontend:
  replicaCount: 1
  image:
    repository: adityazuretest.azurecr.io/devops-assistant-frontend
    pullPolicy: IfNotPresent
    tag: "latest"
  service:
    type: ClusterIP
    port: 80
  env:
    VITE_API_URL: "https://devops-assistant.centralindia.cloudapp.azure.com/api"

ingress:
  enabled: true
  className: "nginx"
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /
    cert-manager.io/cluster-issuer: "letsencrypt-prod"
  hosts:
    - host: devops-assistant.centralindia.cloudapp.azure.com
      paths:
        - path: /
          pathType: Prefix
          serviceName: frontend
          servicePort: 80
        - path: /api
          pathType: Prefix
          serviceName: backend
          servicePort: 8000

azure:
  keyVaultName: "kv-devops-assistant"
  tenantId: "ac371305-0f1d-47d3-8dd8-3d5f83dccf8b"
  userAssignedIdentityID: "1569110c-2b6d-45ac-ba6f-8996c7a8d253"
